.conjugacion-form-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.conjugacion-form-box .row {
  flex-direction: row;
  margin: 10px;
}

.conjugacion-text-field {
  display: inline;
  margin: 20px;
}

.conjugacion-button {
  margin: 20px;
}
